# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/.pnp
.pnp.js

# testing
/coverage


#api
cléAPI.txt
# production


# misc
.DS_Store


npm-debug.log*
yarn-debug.log*
yarn-error.log*
