body, html, #root {
  margin: 0;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#main-search {
  width: 85%;
  margin-left: 15%;
  position: relative;
  height: 100vh;
}

.side {
  width: 15%;
  position: fixed;
}

#main {
  position: absolute;
  top: 20%;
  width: 100%;
}