.UsersConnexion {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(250, 249, 250);
  height: 100vh;
}

#codingLogoConnexion {
  width: 50%;
  margin: 5% 0;
}

.UsersConnexionForm {
  display: flex;
  height: 30%;
  width: 30%;
  flex-direction: column;
  justify-content: space-around;
  border: 1px solid black;
  border-radius: 10px;
  padding: 2%;
  align-items: center;
}

#showPassBtnConnexion {
  margin-left: 2%;
}

#formP2Connexion {
  display: flex;
  width: 100%;
  justify-content: center;
}

.submitConnexion {
  background-color: rgb(145, 29, 52);
}

#showPassBtnConnexion {
  background-color: rgb(145, 29, 52);
  width: 48px;
}

.inputSizeConnexion {
  width: 100%;
  height: 35px;
  padding: 10px;
  font-size: 15px;
}

.inputSizeConnexion[type='text'] {
  color: black;
  width: 100%;
  margin: 0px;
  border: 1px solid rgb(146, 146, 146);
  border-radius: 2px;
}