body {

    background: none;

}

.wrapper {

    display: flex;
    justify-content: flex-start;

}

.user {

    margin-left: 50px;
    margin-top: 20px;
    color: black;

}

#profile {

    margin-top: 20px;
    width: 100px;
    height: 100px;
    border-radius: 50%;

}

.pseudo {

    font-size: 35px;

}

#update {

    background-color: black;
    margin-left: 350px;
    margin-top: 40px;

}