body {

    background: none;

}

.wrapper {

    display: flex;
    justify-content: flex-start;

}

.user {

    margin-left: 50px;
    margin-top: 20px;
    color: black;

}

.pseudo {

    font-size: 35px;

}

#update {

    background-color: black;
    margin-left: 300px;
    margin-top: 40px;

}