nav{
    width: 20%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

    a {
        text-decoration: none;
        color: #262626;
    }

    .SideBarButton{
        padding: 4%;
        cursor: pointer;
        text-transform: uppercase;
        position: relative;
        border-radius: 6px;

        i {
            margin-right: 9%;
        }
       
    }

    .SideBarButton:hover {
        background-color: rgb(240, 240, 240);
        a {
            color: inherit;
        }
    }

    hr {
        width: 80%;
    }

    #abonnements {
        
       width: 100%;
       padding: 4%;

       img {
        border-radius: 100%;
        width: 15%;
        aspect-ratio: 1 / 1;
        margin-right: 5%;
       }

    }

}
