.section_chaine {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 45%;
    margin-left: 2%;
}

.bloc_pdp_name_chaine {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-right: 3%;
    padding: 1%;
}

.bloc_pdp_name_chaine:hover {
    box-shadow: 6px 6px 30px #dedede;
}

.pdp_chaine {
    width: 100px;
    height: 100px;
    border-radius: 100%;
}

.nom_chaine {
    text-decoration: none;
    color: black;
}

.nom_chaine:hover {
    color: black;
}
