body {

    background: linear-gradient(to bottom right, #6e19a3, #c53849);
    height: 100vh;

}

.barUp {

    background-color: red;
    height: 8vh;

}

.barLeft {

    background-color: green;
    height: 92vh;
    width: 8vh;

}

.wrapper {

    display: flex;
    justify-content: flex-start;

}

.user {

    margin-left: 15vh;
    margin-top: 10vh;
    color: white;

}

.pseudo {

    font-size: 35px;

}

#subscribe {

    background-color: rgb(145, 29, 52);
    margin-left: 400px;
    margin-top: 40px;

}