.collapse {
    display: flex !important;
}
.Navbar1 {
    display: flex !important;
    border-radius : 20px ; 
    width: 10%;
    height: 7vh;
    text-align: center;

}
nav-link {
    color : whitesmoke;
    
}
