.App {

  .global{
      display: flex;
  }

  .description {
      padding-top: 15%;
      background-color: #B2BEBF;
      padding-bottom: 55%;
  }
}

.affichageLive {
  display: block;

}

.video-container {
  display: flex;
}

.video {
width: 110vh;
}


.chat-container{
  display:flex;
  justify-content: space-between; 
}

.input-container{
  padding-right: 1%;
}

.chat-container{
  justify-content: right;
  color: black;
}

.messages-container {
  display: flex;
  flex-direction: column-reverse;
  height: 100%;
}

.messages-container ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column-reverse;
  overflow-y: auto;
}

.messages-container li {
  margin: 5px;
}
