.App {

    #global{
        display: flex;
    }


  
    #autre_live {
      flex: 1;
      color: #FFF;
      font-weight: bold;
      background-color: #B2BEBF;
      display: flex;
      align-items: center;
      justify-content: center;
      padding-bottom: 55%;
    }
  
    #actuel_live {
      flex: 3;
      justify-content: center;
      align-items: center;
      }
    #live {
        width:100%;
        border: solid;
        border-color: red;
    }
    #description {
        padding-top: 15%;
        background-color: #B2BEBF;
        padding-bottom: 55%;
    }
    

  
    #chat_live {
      flex: 1;
      color: #FFF;
      font-weight: bold;
      background-color: #B2BEBF;
      display: flex;
      align-items: center;
      justify-content: center;
      padding-bottom: 55%;
    }
}
  
#accueilLive_body{
  border: solid;
  border-color: #9e9595;
  border-radius: 5%;
}