.App {

    .global{
        display: flex;
    }

    .description {
        padding-top: 15%;
        background-color: #B2BEBF;
        padding-bottom: 55%;
    }
  }

  .affichageLive {

  }

  .video-container {
  }

  .video {
width: 110vh;
height: 90vh;
  }


  .chat-container{
    display:flex;
    justify-content: space-between; 
  }

  .input-container{
    padding-right: 1%;
}

.messages-container{
  padding: 10%;
  color: black;
}