body {
    font-family: 'Roboto', sans-serif;
}

.connexion {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

