

.evenement {
    color: rgb(255, 254, 254);
  margin-top: 2rem;
  max-width: 800px;
  padding: 1rem;
  border-radius: 10px;
  background-color: rgb(111, 115, 118);

  li {
    cursor: pointer;
  }

}

