

.sections_menu {
    background-color: #040404;
    color: #a2a2a2;
    border: none;
    padding: 1% 2%;
    font-size: 110%;
    margin-bottom: 3%;
    cursor: pointer;
}

.sections_menu:hover {
    color: white;
    
}

.sections_menu:checked {
    border-bottom: 2px #a2a2a2;
}