#search {
  position: relative;
  width: 100%;
}

.searchBar {
  position: relative;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: row;

  .search {
    width: 500%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 12px 0 0 12px;
    font-size: 16px;
    outline: none;
    height:3vh;


    &:focus {
      border-color: rgb(145, 29, 52);
    }
  }
}
.search_button{
    width: 20%;
    
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-left: none;
    border-radius: 0 12px 12px 0;
    font-size: 16px;
    outline: none;
    height:100%;


}
.search__results {
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
  max-height: 400px;
  overflow-y: auto;
  background-color: #fff;
  border: 1px solid #ddd;
  border-top: none;
  z-index: 999;
  opacity: 0;
  pointer-events: none;
  transition: all 0.2s ease-in-out;

  &.active {
    opacity: 1;
    pointer-events: auto;
  }

  div {
    padding: 8px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;

    &:hover {
      background-color: #f2f2f2;
    }
  }
}
