.container{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
}

.container2{

    display: flex;
    flex-direction: row;

    .preview-videos{
        width: 400px;
        background: linear-gradient(to top, transparent, grey 10%, black 25%);
        height: 79vh;
        opacity: 0.85;
        border-radius: 15px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .display-videos{
        background-color: white;
        width: 85%;
        height: 30%;
        border-radius: 15px;
        margin-top: 30px;
    }
}

.display-text{
    margin-top: 30px;
    margin-left: 5px;
    width: 80%;
    height: 20%;

    h2{
        color: white;
        margin-top: 10px;
        margin-bottom: 20px;
    }

    p{
        color: whitesmoke;
        font-size: medium;
        margin: 0;
    }
}

.display-buttons{
    width: 80%;
    display: flex;
    justify-content: center;
}

.display-button{
    width: 45%;
    border: none;
    border-radius: 10px;
    margin: 0;
}

#button-play.display-button{
    margin-right: 10px;
}
#button-play.display-button:hover{
    background-color: rgb(220, 220, 220);
}

#button-random.display-button{
    color: white;
    background-color: rgb(34, 34, 34);
}
#button-random.display-button:hover{
    background-color: rgb(75, 75, 75);
}

.list-videos{
    width: 790px;
    height: 79vh;
    margin-left: 20px;
    background-color: black;
    border-radius: 15px;

    /*
    ul{

        position: absolute;
        width: 800px;
        height: 80vh;
        overflow: scroll;
        margin: 0;
        padding: 0;
        border: 2px solid white;

        li{
            border-radius: 20px;
        }
        
    }*/
}

.playlist-container {
    max-height: 79vh;
    overflow-y: scroll;
    scrollbar-color: whitesmoke;
    padding: 15px;
}

.playlist-list {
    padding: 0;
    margin: 0;
}

.playlist-item {
    display: flex;
    flex-direction: row;
    margin-bottom: 1px;
    width: 100%;
    padding: 10px 35px;

    a{
        display: flex;
        flex-direction: row;
        text-decoration: none;
        width: 100%;
    }

    img {
        display: block;
        width: 160px;
        height: 90px;
        margin-right: 10px;
    }

    h3 {
        margin: 0;
        font-size: 16px;
        font-weight: bold;
    }

    &:hover{
        background-color: rgb(75, 75, 75);
        border-radius: 10px;
    }
}

.playlist-item-info {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    color: whitesmoke;
}

.playlist-item-infos{
    margin: 0;
}

.playlist-item-infos a{
    text-decoration: none;
}

.playlist-item-duration {
    font-size: 14px;
    color: #888;
    margin-top: 5px;
}
