*{
    background-color: #1e1e20;

}
.player-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding-top: 8%;
  }

  .player-large{
    padding-left: 50px;
  }
  
  .player-small,
  .player-large {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  
  .player {
    border-radius: 10px;
    overflow: hidden;
  }


.buttons{
    padding-left: 10px;
    padding-top: 40%;
}


.gap{
    padding-bottom: 40px;
}


.like, 
.dislike,
.comment,
.share{
    background-color: #161616;
    border-radius: 40px;
    width: 50px;
}

.like:hover, 
.dislike:hover,
.comment:hover,
.share:hover{
background-color: #333333;
cursor: pointer;
}
 
.liking {
    background-color: #353536;
    border-radius: 10px;
    display: none;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px;
    position: absolute;
}

.liking:hover{
    visibility: visible;
    height: 30px;
    width: 30%;
}
  
