.player-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  
  .player-small,
  .player-large {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .player {
    border-radius: 10px;
    overflow: hidden;
  }
  