.player-container {
  background-color: darkseagreen;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.player-past,
.player-current,
.player-next {
  margin-top: 100px;
  border-radius: 10px; 
  position: relative;
  overflow: hidden;
}

.player-past,
.player-next {
  height: 500px;
  width: 250px;
  margin: 50px;
  border-radius: 20px;
}

.player-current {
  height: 750px;
  width: 380px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 30px;

}

.player-past {
  margin-right: 60px;
  filter: grayscale(100%);
}

.player-next {
  margin-left: 60px;
}

.like-comment-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  bottom: 10%;
  right: 46.5%;
  transform: translateX(50%);
  opacity: 1;
}



.like-button,
.comment-button,
.upload-button {
  background: rgba(0, 0, 0, 0.7);
  position: relative;
border-radius: 20px; 
 cursor: pointer;
  font-size: 2rem;
  padding: 10px;
  margin: 10px;
  color: #fff;
  transition: opacity 0.2s;
}

/* .like-comment-container:hover {
  opacity: 0;
} */

.upload-button {
  top: -100px;
}

.like-button {
  top: -95px;
}

.comment-button{
  top: -100px;
}



.prev-video-button,
.next-video-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.0);
  border: none;
  color: #ffffff;
  font-size: 2rem;
  padding: 10px;
  cursor: pointer;
  border-radius: 20px; 

}
.prev-video-button {
  left: 20.3%;
  
  transform: translateY(-50%);
}

.next-video-button {
  right: 44.9%;
  transform: translateY(-50%);

}



.comments-sidebar {
  position: relative;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  max-width: 365px; /* empêche la sidebar de devenir trop grande sur les grands écrans */
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  overflow-y: auto;
  border-left: 1px solid #ccc;
}

.comment-input {
  position: fixed;
  bottom: 0;
  right: 150px;
  width: 100%;
  max-width: 200px; /* empêche l'input de devenir trop grand sur les grands écrans */
}
.submit-comment {
  position: fixed;
  bottom: 10px;
  right: 20px;
  width: 100%;
  max-width: 100px; /* empêche l'input de devenir trop grand sur les grands écrans */
}

/* Media Queries pour les écrans plus petits */
@media only screen and (max-width: 768px) {
  .comments-sidebar {
    width: 100%;
    max-width: none;
  }

  .comment-input {
    position: relative;
    width: 100%;
    max-width: none;
  }
}
