

nav{
    width: 20%;
    position: relative;
    a{
        text-decoration: none;
        color: #262626;
    }

    .SideBarButton{
        padding: 4%;
    }
    i{
        margin-right: 9%;
    }

}
