.Logo_Tube_Project{
    width: 150px;
    height: 150px;
}
.Logo_Notification_Project{
    width: 150px;
    height: 150px;
}
.Logo_Profil_Project{
    width: 150px;
    height: 150px;
}
.conteneur{
    display:flex;
    flex-direction: row;
}