.pdp_utilisateur {
    width: 40px;
    height: 40px;
    border-radius: 100%;
}

.div_section_communaute {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    padding: 1% 1%;
    margin-left: 2%;
    margin-right: 30%;
    border: solid #a2a2a2;
    border-radius: 10px;
    height: auto;
    max-height: 70%;
}

.pdp_name {
    width: 100%;
    display: flex;
}

.pdp_name p {
    width: 100%;
    margin-left: 15%;
    margin-top: 15%;
    font-size: 17px;
}

.nom_chaine_section_commu {
    text-decoration: none;
    color: black;
}

.nom_chaine_section_commu:hover {
    color: black;
}

.form_submit_community {
    width: 100%;
    max-height: 150%;
}

.content_submit {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.content {
    font-size: 17px;
    width: 100%;
    border: none;
    word-wrap: break-word;
    resize: none;
    max-height: 54vh;
    overflow-y: auto;
}

.content:focus{
    outline: none;
}

.submit_content {
    background-color: #65b8ff;
    color: black;
    padding: 10px 30px;
    border-radius: 10px;
    border: none;
    font-size: 17px;
    cursor: pointer;
    margin-top: 2%;
    margin-right: 60%;
    margin-bottom: 1%;
}

.submit_content:hover {
    cursor: pointer;
}








.show_all_content_communaute {
    display: flex;
    flex-direction: column;
    margin-left: 2%;
    margin-top: 3%;
    border: solid #a2a2a2;
    border-radius: 10px;
    padding: 1%;
    margin-right: 30%;
}

.pdp_name_time_commu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.pdp_chaine_name_commu {
    display: flex;
    flex-direction: row;
}

.pdp_chaine_name_commu p {
    margin-top: 15%;
    margin-left: 15%;
}

.nom_chaine_commu {
    text-decoration: none;
    color: black;
}

.nom_chaine_commu:hover {
    color: black;
}
.bloc_content_communaute {
    display: flex;
    justify-content: space-between;
    width: 68%;
    margin-top: 1%;
}

.pdp_chaine_commu {
    width: 40px;
    height: 40px;
    border-radius: 100%;
}