#player-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: start;

}

.video {
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.player {
    display: flex;
    justify-content: start;
}

#video_info {
    display: flex;
    flex-direction: column;
    justify-content: start;
}

#title_video {
    display: flex;
    justify-content: start;
    margin: 10px;
    
}

#video_stats {
    display: flex;
    flex-direction: row;
    justify-content: end;
    margin-top: 10px;
    width: 50%;
    
}
#likes {
    margin-right: 1%;  
}
#vues {
    margin-left: 1%;
}
#description {
    margin-top: -15px;
}
.video-info {
    display: flex;
    flex-direction: column;
}

h2 {
    margin-top: 0;
}


.video-stats span {
    margin-right: 10px;
}








.heart {
    display: inline-block;
    width: 100px;
    height: 100px;
    background: url("https://cssanimation.rocks/images/posts/steps/heart.png") no-repeat;
    background-position: 0 0;
    cursor: pointer;
    transition: background-position 1s steps(28);
    transition-duration: 0s;
    transform: scale(0.5); /* reduce the size to half */
    vertical-align: middle;

    
    &.is-active {
      transition-duration: 1s;
      background-position: -2800px 0;
    }
  }
  
  .placement {
    display: inline-block;

    width: 10%;
  }
  