* {
    margin: 0px;
    padding: 0px;
}

.body {
    width: 100%;
    margin: 0;
    //background-color: rgb(0, 0, 0);
    background: linear-gradient(to bottom right, #6e19a3, #c53849);
    display: flex;
}

.side {
    height: 100vh;
    background-color: white;
    width: 15%;
}


.searchBar:focus {
    border-radius: 12px 0 0 12px;
}

input:focus {
    border-radius: 12px 0 0 12px;
}

.recherche {
    margin: 0;
    height: 10vh;
    width: 85%;
    position: fixed;
    background-color: white;
    z-index: 1;
}

.Navsearch {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.logo {

    img {
        width: 100%;
    }

}

.lanchsubmit {
    margin: 3vh auto;
    border-radius: 0 12px 12px 0;
    height: 4vh;
    border: none;
    width: 30%;
}

.not,
.pp {
    width: 100%;
    margin: 3vh 2vh;
}

.connect {
    justify-content: center;
    display: flex;
}

.icons {
    height: 5vh;
    width: 30%;
    display: flex;
    justify-content: space-evenly;
}

.Navid {
    width: 100%;
    margin-top: -5px;
    justify-content: space-evenly;
}

a:hover {
    color: rgb(145, 29, 52);
    margin-top: -5px;
    justify-content: space-evenly;
}

.hashtag {
    margin: 2vh 0;
    padding: 0.5vh 0 0.8vh;
    border-radius: 25px;
    width: 9%;
    background-color: black;
    text-align: center;
}

.hashtag a {
    color: white;
    text-decoration: none;
}

.icon_title {
    margin: 0.5vh 0;
    margin-top: 0%;
    text-align: center;
    height: 8vh;
    width: 16%;

}

.icon_profile {
    margin: auto 0;
    width: 100%;

    text-align: center;
}

.icon_notification {

    margin: auto 0;
    width: 100%;

    text-align: center;
}
