header {
    height: 15vh;
} 

body{
    height: 100vh;
    background: linear-gradient(to bottom right, #6e19a3, #c53849);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.recherche{
    height: 10vh;
    display: flex;
    flex-direction: column;
}

.Navsearch{
    height: 5vh;
    width: 100%;
    display: flex;
    justify-content: space-evenly;

}

.search{
    width: 70%;
}

.searchBar{
    margin: 1vh 0 auto 55vh;
    height: 3vh;
    width: 40vh;
    border-radius: 12px 0 0 12px;
    border: none;
    background-color: rgb(208, 208, 208);
}

.lanchsubmit{
    border-radius: 0 12px 12px 0;
    height: 3.17vh;
    border: none;
}

.icons{
    height: 5vh;
    width: 30%;
    display: flex;
    justify-content: space-evenly;
}

.Navid{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    //background-color: gray;
}

.icon{ 
    margin: auto 0;
    height: 4vh;
    width: 20%;
    background-color: black;
    text-align: center;
}

.icoon{ 
    margin: 2vh 0;
    padding: 0.5vh 0 0.8vh;
    border-radius: 25px;
    width: 15vh;
    background-color: black;
}

.icoon a{ 
    margin: 1vh 0;
    color: white;
    text-decoration: none;
}
