.search{
    display: flex;
    flex-direction: column;
}

.search__results{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(240, 240, 240);
}

.searchBar{
   width: 100%;
}